*{
	margin: 0;
	padding: 0;
	font-family: "华文仿宋",sans-serif;
}
#Toptitle {
	color: white;
	text-align: center;
	margin-top: 20px;
	margin-bottom: 20px;
}
#Topword {
	color: white;
	text-align: center;
	position: relative;
	right: 15px;
	margin-top: 20px;
	margin-bottom: 20px;
}
img {
	border-radius: 100%;
	margin-top: 20px;
	margin-left: 50px;
}
table {
	float: right;
	color: white;
	font-size: 22px;
	position: relative;
	bottom: 18px;
	right: 50px;
	border-collapse: separate;
	border-spacing: 30px;
}
table:nth-child(2) {
	margin-right: 40px;
}

::-webkit-scrollbar {
	width: 6px;
}

::-webkit-scrollbar-track {
	background: rgba(255, 255, 255, 0.05);
}

::-webkit-scrollbar-thumb {
	background: rgba(136, 220, 220, 0.4);
	border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
	background: rgba(136, 220, 220, 0.6);
}
